#loginForm{
    margin-top: 20%;
    margin-left: 20%;
    width:  40%;
    font-family: 'Pangolin', cursive;
        h3 {
            text-align: center;
        }
    button {
        font-family: 'Pangolin', cursive;
        border-radius: 20%;
    }
    input {
        margin: 0 2% 0 2%;
    }
    .loginInput {
        display: block;
        margin-bottom: 10%;
    }
}