#loginForm{
    margin-top: 30%;
    margin-left: 40%;
    font-family: 'Pangolin', cursive;

    button {
        font-family: 'Pangolin', cursive;
        border-radius: 20%;
    }
    input {
        margin: 0 2% 0 2%;
    }
}