.create {
    display: inline-block;
    position: absolute;
    background-color: darkgrey;
    border: 1px solid black;
    top: 45%;
    width: 40%;
    input {
        display: block;
    }
    img {
        text-align: center;
        margin: auto 0;
        width: 80%;
    }
}