#todoList{
    display: inline-block;
    margin-top: 20%;
    margin-left: 10%;
    width: 50%;
    .complete {
        background-color: darkblue;
    }
    .incomplete {
        background-color: yellow;
    }
}